.name {
  display: flex;
  align-items: center;
}

.name img {
  width: 30px;
  margin-right: 10px;
}

.allname {
  font-weight: bold;
  color: #444;
  margin-right: 10px;
}

.symbolname {
  color: #888;
}

.price {
  color: #666;
  font-weight: bold;
}

.greenprice {
  color: #00b45a;
  font-weight: bold;
}

.redprice {
  color: #c52d19;
  font-weight: bold;
}
